@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/user-info/user-info.css);
@import url(../blocks/button/button.css);
@import url(../blocks/places-list/places-list.css);
@import url(../blocks/place-card/place-card.css);
@import url(../blocks/popup/popup.css);

body {
  background-color: #000;
}

#edit-button {
  font-size: 18px;
}

.popup__media-image {
  position: relative;
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.popup-media__close {
  width: 26px;
  position: absolute;
  top: -32px;
  right: -32px;
  cursor: pointer;
}

.popup__error {
  display: block;
}

.popup__error_first-row {
  display: none; 
  margin: 0;
  margin-top: -20px;
  margin-bottom: 5px;
  margin-left: 6px;
  color: red;
  font-size: 12px;
  line-height: 15px;
}

.popup__error_second-row {
  display: none; 
  margin: 0;
  padding-top: 4px;
  margin-bottom: -19px;
  margin-left: 6px;
  color: red;
  font-size: 12px;
  line-height: 15px; 
}

.wrapper {
  position: relative;
}